
  <div class="col-xl-12">
    <app-card
      cardTitle="Applicants"
      [options]="false"
      blockClass="table-border-style"
    >
    <div class="search-form form" >
      <label>
          <span class="screen-reader-text">Search for...</span>
          <input type="search" class="search-field" placeholder="Filter ..." [(ngModel)]="searchTerm" (input)="filterTable()"/>
      </label>
    </div>
      <div class="table-responsive mt-3">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Phone</th>
              <th>Dependants</th>
              <th>Gender</th>
              <th>Marital</th>
              <th>City</th>
              <th>Date Of Birth</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>    
            <tr *ngFor="let item of filteredData">
              <td>{{ item.id }}</td>
              <td>{{ item.fullName }}</td>
              <td>{{ item.phone }}</td>
              <td>{{ item.dependants }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.maritalStatus }}</td>
              <td>{{ item.adress.city }}</td>
              <td>{{ item.dateOfBirth}}</td>
              <td>{{ item.status }}</td>
              <td>         
               <div ngbDropdown class="dropdown"> 
                <a ngbDropdownToggle class="cursor"  id="dropdownMenuButton1"  aria-expanded="false" > 
                  Actions
                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a ngbDropdownItem class="cursor" (click)="Acceptprocess(item.id,'accepted')" >accept</a></li>
                      <li><a ngbDropdownItem class="cursor" (click)="Acceptprocess(item.id,'rejected')">reject</a></li>
                      <li><a ngbDropdownItem class="cursor" (click)="deleteApplication(item.id)">delete</a></li>
                    </ul>
                  </a>
               </div>
              </td>
            </tr> 
          </tbody>
        </table>
        <!-- <ul>
          <li class="pagination" *ngFor="let i of getPageNumbers()">
            <button class="btn btn-outline-success" (click)="onPageChange(i)">{{i}}</button>
          </li>
        </ul> -->
      </div>
    </app-card>
  </div>