    <!-- header -->
    <header>
      <div class="container">
          <nav class="nav d-flex">
              <a href="#" class="logo">
                  <img src="assets/images/logo.svg" alt="logo">
              </a>
              <!-- toggle bar -->
              <div class="burger">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
              <div class="navigation-bar">
                  <ul>
                      <li><a href="/home">Home </a></li>
                      <li><a href="/apply">Apply</a></li>
                      <li><a href="/viewApplication">Applications</a></li>
                      <li><a href="/home" class="btn" (click) = "logout()">Logout</a></li>
                  </ul>
              </div>
          </nav>
      </div>
  </header>
  <!-- Home -->
  <section class="home">
      <div class="container">
          <img src="assets/images/shape1.svg" alt="shape" class="shape shape1">
          <img src="assets/images/shape2.svg" alt="shape" class="shape shape2">
          <img src="assets/images/shape3.svg" alt="shape" class="shape shape3">
          <img src="assets/images/shape4.svg" alt="shape" class="shape shape4">
          <img src="assets/images/shape5.svg" alt="shape" class="shape shape5">
          <div class="home-wrapper d-flex">
              <div class="col-left">
                  <h1>Protect <br>
                      The one You Love</h1>
                  <p>choose suitable life insurance plans <br>
                      as per your need</p>
                  <ul>
                      <li><img src="assets/images/health.svg" alt="health">Health</li>
                      <li><img src="assets/images/car.svg" alt="car">Car</li>
                      <li><img src="assets/images/home.svg" alt="Home">Home</li>
                  </ul>
                  <div class="btn-section d-flex">
                      <a href='/viewApplication' class="btn-end"> View Applications</a>
                      <a href='/apply' class="btn-butt">Apply</a>
                  </div>
              </div>
              <div class="home-image">
                  <img src="assets/images/illustration.svg" alt="home image">
              </div>
          </div>
      </div>
  </section>


  