<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-user-plus auth-icon"></i>
        </div>
        <h3 class="mb-4">Sign up</h3>
        <form  ngNativeValidate (submit)="onSubmit($event)">
          <div class="input-group mb-3">
            <input 
              type="text" 
              class="form-control"
              placeholder="Username"
              name="username"
              [value]="username"
              (input)="onUsernameChange($event.target)"
              required
           />
          </div>

          <div class="input-group mb-3">
            <input 
              type="email"
              class="form-control" 
              placeholder="Email"
              name="email"
              [value]="email"
              required
              (input)="onEmailChange($event.target)" />
          </div>


          <div class="input-group mb-4">
            <input 
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              [value]="password"
              (input)="onPasswordChange($event.target)"
              required
               />
          </div>  
          <button class="btn btn-outline-success shadow-2 mb-4">Sign up</button>
          <div class="alert alert-warning" *ngIf="isSignUpFailed">
            Signup failed!<br />
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          Your registration is successful!
        </div>

        <p class="mb-0 text-muted">
          Already have an account?
          <a [routerLink]="['/signin']"> Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
